.hero-section {
    padding: 180px 0 93px;
    background-image: url("../images/image\ 3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130vh;
    background-position: center bottom;
    background-attachment: fixed;
}

.hero {
    @include display($items:start , $spase:space-between , $gap:0px);
}

.hero__form {
    border-radius: 15px;
    width: 449px;
    padding: 25px;
    background-color: #3A3A3A80;
    backdrop-filter: blur(5px);
}

.hero__title {
    @include textStyle ($MB:8px , $FS:30px , $FW:700 , $CLR:$white-color , $LH:36.31px , $CASE:capitalize);
}

.hero__text {
    @include textStyle ($MB:20px , $FS:16px , $FW:400 , $CLR:$white-color , $LH:19.36px , $CASE:capitalize);
}

.hero__label-text{
    @include textStyle ($MB:8px , $FS:16px , $FW:400 , $CLR:$white-color , $LH:19.36px , $CASE:capitalize);
    margin-top: 25px;
}

.hero__label-text-two{    
    @include textStyle ($MB:8px , $FS:16px , $FW:400 , $CLR:$white-color , $LH:19.36px , $CASE:capitalize);
    margin-top: 15px;
}

.hero__input {
    background-image: url("../images/location_line\ \(1\)\ 1.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left center;
    padding: 20px 30px 20px;
    width: 399px;
    border-radius: 12px;
    border: none;
}

.hero__input-two{
    background-image: url("../images/calendar_line\ 1.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left center;
    padding: 20px 30px 20px;
    width: 399px;
    border-radius: 12px;
    border: none;
}

.hero__content-wrapper {
    @include display($items:center , $spase:cspace-between);
    margin-bottom: 18px;
}

.hero__content-label {
    padding: 15px 60px;
    border-radius: 12px;
    background-color: $white-color;
    @include textStyle ($MB:0px , $FS:17px , $FW:400 , $CLR:$white-color , $LH:20.57px , $CASE:capitalize);
}

.hero__content-label-two{
    margin-left: 20px;
    padding: 15px 50px;
    border-radius: 12px;
    background-color: $white-color;
    @include textStyle ($MB:0px , $FS:17px , $FW:400 , $CLR:$white-color , $LH:20.57px , $CASE:capitalize);
}

.hero__content-one{
    padding: 15px;
}

.hero__btn{
    @include buttonStyle ($BTN_W:100% , $BTN_PY:17px , $BTN_BG_CLR:$orange-color , $BTN_BR_Radius:8px , $BTN_Border_CLR:transparent , $BTN_FS:17px , $BTN_FW:500 , $BTN_LH:20.57px , $BTN_CLR:$black-color);
    transition: all 0.3s linear;

    &:hover{
        @include buttonStyle ($BTN_W:100% , $BTN_PY:17px , $BTN_BG_CLR:$orange-color , $BTN_BR_Radius:8px , $BTN_Border_CLR:transparent , $BTN_FS:17px , $BTN_FW:500 , $BTN_LH:20.57px , $BTN_CLR:$black-color);
        box-shadow: 0 0 5px 0 $orange-color;
    }
}

.hero__content {
    margin-left: 85px;
    margin-bottom: 20px;
}

.hero__img-content {
    @include display ($items:center , $spase:none , $gap:0px);
    margin-top: 43px;
    margin-bottom: 15px;
}

.hero__subtext {
    margin-left: 3px;
    @include textStyle ($MB:0px , $FS:14px , $FW:500 , $CLR:$white-color , $LH:20.57px , $CASE:capitalize);
}

.hero__subtitle {
    @include textStyle ($MB:20px , $FS:56px , $FW:700 , $CLR:$white-color , $LH:20.57px , $CASE:capitalize);
}

.hero__subtext-two {
    @include textStyle ($MB:0px , $FS:20px , $FW:400 , $CLR:$white-color , $LH:24.57px , $CASE:capitalize);
}