
.shipping-method-section {
    padding: 145px;
    margin-bottom: 194px;
    background-image: url("./../images/metod1.png") , url("./../images/metod2.png");
    background-repeat: no-repeat;
    background-position: right top , left bottom;
}

.shipping-method__wrapper {
    padding: 75px 165px;
    text-align: center;
}

.shipping-title {
    margin-bottom: 15px;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.99px;
    color: $black-color;
}

.shipping__span {
    font-size: 38px;
    font-weight: 700;
    line-height: 45.99px;
    color: $orange-color;
}

.shipping-text {
    margin-bottom: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;  
}

.rail-transport {
    gap: 24px;
    display: flex;
}

.rail__wrapper {
    margin-top: 15px;
    width: 545px;
}

.rail-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: $black-color;
}

.rail-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.rail__btn {
    width: 259px;
    padding: 15px 16px;
    border: 1px solid $orange-color;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: $black-color;
    border-radius: 5px;
    transition: all 0.3s linear;

    &:hover{
        background-color: $orange-color;
    }
}

.truc-transport {
    gap: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.truck-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: $black-color;
}

.truc-text {
    width: 545px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $black-2-color;
    margin-bottom: 30px;
}

.truc__btn {
    width: 259px;
    padding: 15px 16px;
    border: 1px solid $orange-color;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: $black-color;
    border-radius: 5px;
    transition: all 0.3s linear;

    &:hover{
        background-color: $orange-color;
    }
}

.air-transport {
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.air__wrapper {
    width: 545px;
}

.air-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    color: $black-color;
}

.air-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.air__btn {
    width: 259px;
    padding: 15px 16px;
    border: 1px solid $orange-color;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: $black-color;
    border-radius: 5px;
    transition: all 0.3s linear;

    &:hover{
        background-color: $orange-color;
    }
}
